/* This is the official font downloaded from fonthub.com, linked in Credits section of README.md */
@font-face {
    font-family: 'FWWC 2023';
    src: url('/assets/fonts/FWWC2023-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background: white;
    font-family: "FWWC 2023"; 
}


/* 
---------------------------------------- OUTER CONTAINER SECTION
The outer container encapsulates 
the entire contents of the page 
*/

#outer-container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 98%;
    animation: quizEaseIn .7s;
    /*border: 1px solid magenta;*/
    /*overflow: hidden;*/
}
  
@keyframes quizEaseIn {
0% { opacity: 0; }
100% { opacity: 1; }
}



/* 
---------------------------------------- HERO IMAGE SECTION
The hero image styling is below, 
this will relate to the official FIFA logo 
and the final end quiz picture
*/

#hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5rem;
    justify-content: center;
    border: 2px solid black;
    width: 98%;
    border-radius: 5px;
    padding: 0;
    background-color: gold;
    box-shadow: 3px 3px 2px grey;
}
  
#hero-image{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    border-radius: 5px;
}


/* 
---------------------------------------- TRACKER SECTION

The styling of the tracking feature and 
the individual 'tracker items' is below 
*/

#tracker-container {
    height: 2.2rem;
    width: 98%;
    background: rgb(6,84,187);

    /* The CSS code below for the gradient effect was taken directly from https://cssgradient.io/ */
    background: -moz-linear-gradient(90deg, rgba(6,84,187,1) 0%, rgba(59,142,250,1) 14%, rgba(59,142,250,1) 86%, rgba(6,84,187,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(6,84,187,1) 0%, rgba(59,142,250,1) 14%, rgba(59,142,250,1) 86%, rgba(6,84,187,1) 100%);
    background: linear-gradient(90deg, rgba(6,84,187,1) 0%, rgba(59,142,250,1) 14%, rgba(59,142,250,1) 86%, rgba(6,84,187,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0654bb",endColorstr="#0654bb",GradientType=1);
    /* End of copied code from https://cssgradient.io/ */

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 2px grey;
}
  
#tracker-container-glow{
    animation: glowFinal 1s infinite alternate;
}

@keyframes glowFinal {
from {
    box-shadow: 0 0 0.2rem red;
}
to {
    box-shadow: 0 0 3rem 0.2rem gold;
}
}
  
#tracker-container-inner{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
  
.tracker-item{
    font-family: "FWWC 2023";
    font-size: .8rem;
    color: white ;
    background-color: rgb(6, 84, 187);
    width: 1.4rem;
    height: 1.4rem;
    border: 1.8px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*text-shadow: 0rem 0rem .1rem #EEEDCE;*/
}

.tracker-item-incorrect{
    background-color: #E83800;
    color: white;
}

.tracker-item-correct{
    background-color: #2F852B;
    color: white;
}

.tracker-item-active{
    background-color: #cc9d04;
    color: white;
    animation: glow .6s infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 0.2rem -0.1rem blue;
    }
    to {
        box-shadow: 0 0 0.3rem 0.2rem rgb(235, 235, 83);
}
}
  

/* 
---------------------------------------- QUIZ CONTAINER SECTION
The quiz container sits below the tracker, 
it's main function is to display the 
enter username, questions and choices panels 
*/

#quiz-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: .5rem;
}
  

/* 
---------------------------------------- TOP PANEL SECTION
the top panel contains the question text box 
*/

#top-panel{
    border: 2px solid black;
    border-radius: 5px;
    width: 98%;
    height: 4rem;
    background-color: black;
    color: #EEEDCE;
    text-align: center;
    font-size: 1rem;
    font-family: "FWWC 2023";
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 2px grey;
}
  

/* 
---------------------------------------- MID PANEL SECTION
the top panel contains the enter username, 
choice container and 
answer feedback boxes
*/

#mid-panel{
    width: 98%;
    /*display: none;*/
}

#enter-username-container{
    display: flex;
    color: white;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 12rem;
    margin-top: .5rem;
    padding-top: .3rem;
    padding-left: .3rem;
    padding-right: .2rem;
    row-gap: .5rem;
    border: 2px solid black;
    border-radius: 5px;
    background: rgb(6,84,187);
    color: #EEEDCE;
    font-size: .7rem;
    box-shadow: 3px 3px 2px grey;
    display: none; /* toggle this!!!! */
}
  
#enter-username-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5rem;
}
  
#enter-username-message p{
    font-size: .8rem;
    margin: 0;
    padding-top: .3rem;
}

#input-form-container{
    display: flex;
    width: 100%;
}

#input-form-container form{
    width: 100%;
}

#username-input{
    margin-top: 0rem;
    text-align: center;
    width: 80%;
    height: 2rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-family: "FWWC 2023";
    font-size: .7rem;
}
  
/*
#input-form-container label {
    margin-bottom: 1rem;
}
*/

input::placeholder {
    text-align: center;
    font-size: .7rem;
    opacity: 0.8;
    color: black;
}


/* 
---------------------------------------- CHOICE CONTAINER SECTION
The styling for the outer choices container, 
the individual choice containers and 
the radio inputs is below 
*/

#choices-container-outer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-top: .5rem;
    row-gap: .5rem;
    display: none;
}
  
  
.choice-container{
    display: flex;
    height: 2rem;
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    background: rgb(6,84,187);
    color: #EEEDCE;
    font-family: "FWWC 2023";
    font-size: .9rem;
    padding: .3rem 1rem .3rem 1rem;
    box-shadow: 3px 3px 2px grey;
    transition: transform .2s ease-in-out;
    display: none;
}
  
.choice-container:hover {
    box-shadow: 5px 5px 2px pink;
    transform: scale(1.02);
}
  
.choice-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.offside-text{
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem; /*This is to offset the margin-left applied from .choice-text */
}
  
.choice-input{
    margin-right: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
input {
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid black;
}


/* 
---------------------------------------- ANSWER FEEDBACK SECTION
The styling for the answer feedback
section is shown here, this will 
include the feedback image, text and
'GOAL!' or 'MISS!' status
*/

#answer-feedback-outer{
    background: rgb(6,84,187);
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 13rem;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 2px grey;
}
  
#answer-feedback-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
}
  
#answer-feedback-image-container{
    margin-top: .5rem;
    border: 1px solid #EEEDCE;
    width: 60%;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px #EEEDCE;
}
  
#answer-feedback-image{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
  
#answer-feedback-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 20%;
    display: none;
}
  
#answer-feedback-status{
    margin-top: .5rem;
    margin-bottom: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #EEEDCE;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    height: 20%;
}


/* 
---------------------------------------- BOTTOM PANEL SECTION
Container for the VAR Assist Button, 
Shoot Button and Goals Scored tracker 
is shown below
*/

#bottom-panel{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    width: 98%;
    height: 6rem;
    justify-content: space-between;
    border-radius: 5px;
    animation: easeIn 2s;
    /*display: none;*/
}
  
  /* The fade in animation code below was taken from https://blog.hubspot.com/website/css-fade-in */
@keyframes easeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  /* End of copied code from https://blog.hubspot.com/website/css-fade-in */
  

